<?xml version='1.0' encoding='utf-8'?>
<widget id="com.esteban.workshop" version="1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DiplApp</name>
    <description>
        Affiche les eleves diplomés de l'iut
    </description>
    <author>
       Esteban Launay, Alexis Karasev
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
